In [2]:
import random
import numpy as np
import pandas as pd
from faker import Faker

# Set the seed globally at the highest level
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
Faker.seed(SEED)

from src.data_generator.visitor import generate_visitors, visitor_arrival_times, gaussian_arrivals
from src.data_generator.website import Website
from src.data_generator.simulation import run_simulation
import simpy

ImportError: cannot import name 'run_simulation' from 'src.data_generator.simulation' (/Users/spencerwood/Documents/Personal Projects/website-simulation/src/data_generator/simulation.py)

In [39]:
import sqlite3
DB_PATH = 'website_data.db'
conn = sqlite3.connect(DB_PATH)

cursor = conn.cursor()
# Execute SQL command to drop the table
cursor.execute("DROP TABLE IF EXISTS visitors")
cursor.execute("DROP TABLE IF EXISTS interactions")
# Commit the change and close the connection
conn.commit()
conn.close()

In [14]:
import sqlite3
DB_PATH = 'website_data.db'
conn = sqlite3.connect(DB_PATH)

query = '''
Select *
FROM interactions
'''

pd.read_sql(query, conn)

,visitor_id,channel,page,interaction,element,timestamp
0,41903722-cf88-4c1a-bb2b-07c3a036704b,Direct,Homepage,Pageview,None,2025-03-01 00:38:00
1,41903722-cf88-4c1a-bb2b-07c3a036704b,Direct,Homepage,Click,Benefits Overview,2025-03-01 00:39:12
2,41903722-cf88-4c1a-bb2b-07c3a036704b,Direct,Benefits Overview,Pageview,None,2025-03-01 00:39:12
3,41903722-cf88-4c1a-bb2b-07c3a036704b,Direct,Benefits Overview,Click,Account Sign-up,2025-03-01 00:40:24
4,41903722-cf88-4c1a-bb2b-07c3a036704b,Direct,Account Sign-up,Pageview,None,2025-03-01 00:40:24
...,...,...,...,...,...,...
21996,28b432d1-9eb5-403a-ba73-337f83358e07,Direct,Homepage,Pageview,None,2025-03-07 18:42:00
21997,2335fcc2-4e35-4286-802e-a0bea8d7f22d,Direct,Homepage,Pageview,None,2025-03-07 18:42:00
21998,2335fcc2-4e35-4286-802e-a0bea8d7f22d,Direct,Homepage,Click,Watch Video,2025-03-07 18:43:12
21999,2335fcc2-4e35-4286-802e-a0bea8d7f22d,Direct,Homepage,Click,Benefits Overview,2025-03-07 18:43:24
22000,2335fcc2-4e35-4286-802e-a0bea8d7f22d,Direct,Benefits Overview,Pageview,None,2025-03-07 18:43:24

In [23]:
query = '''
Select *
FROM visitors
'''

demo_data = pd.read_sql(query, conn)

In [24]:
demo_data#[demo_data['visitor_id'].duplicated()]#[~demo_data['name'].isnull()]

,visitor_id,name,gender,age,email,signed_up,channel,return_visitor
0,606e0a98-4999-4b2e-a104-341d5ff9d963,Margaret Johnson,Female,20.0,john21@example.net,1,Direct,0
1,0ef19dfc-4028-4492-bf40-1d54f086cdc2,None,None,NaN,None,0,Direct,0
2,14b8c5e4-a1cc-4ae5-a3c0-5598c5e6f02e,Patrick Gardner,Male,62.0,fjohnson@example.org,1,Direct,0
3,f6b4c1c9-05be-4719-9153-e7fb3a987a5e,None,None,NaN,None,0,Direct,0
4,ea9b49ad-e2bd-4821-95f8-c9899e328448,None,None,NaN,None,0,Direct,0
...,...,...,...,...,...,...,...,...
3544,55b9a734-1d28-4fda-9a73-91a502103def,Trevor Patton,Male,32.0,thompsonjessica@example.com,1,Direct,0
3545,32bac56f-2bb1-4570-923d-005ac3df1aab,Christopher Shaffer,Male,52.0,iwoods@example.com,1,Direct,0
3546,9eedffac-3f20-42b4-94c4-04d99058eaa6,Kevin Roman,Male,54.0,ricejackie@example.com,1,Direct,0
3547,43d108d7-f8c4-4c75-ab75-3b15167234cb,Alexandra Palmer,Female,45.0,dianethomas@example.net,1,Direct,0
3548,7b1c5f58-f8d4-4473-9264-81cb7bdbbd41,None,None,NaN,None,0,Direct,0